mixin hero(mixes)

  .hero(class=(mixes) && `${mixes}__hero`)
    .hero__wrap
      .hero__content
        h1.hero__title Почему не Вы лидеры рынка?
        p.hero__desc Уникальная платформа анализа и управления представлением производителя товаров в e-commerce. Сбор отзывов со всех популярных коммерческих площадок, оценка объема рынка, аналитика представленности, популярности в интернете, контроль цен. И все это в сравнении с конкурентами.
      form.hero__from(action='')
        input.hero__input(placeholder='Ваш номер')
        +btn('Начать пробный период', 'hero')
    