.hero {
  padding: 220px 0;
  background: url(./img/bg.jpg) center no-repeat;
  background-size: cover;
}

.hero__wrap {
  @include container;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content {
  margin-bottom: 40px;
  color: #fff;
  text-align: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 300;
  font-size: 50px;
  line-height: 1.3;
}

.hero__desc {
  max-width: 800px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
}

.hero__from {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero__input {
  width: 100%;
  max-width: 320px;
  margin-right: 10px;
  padding: 12px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 25px;

  &::placeholder {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    transition-duration: 200ms;
  }

  &:hover {
    &::placeholder {
      transform: translateX(5px);
    }
  }
}

// Media queries

@include less-xl {
}

@include less-lg {
  .hero {
    padding: 120px 0;
  }
}

@include less-md {
  .hero {
    padding: 80px 0;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__desc {
    font-size: 16px;
  }

  .hero__from {
    flex-direction: column;
    align-items: center;

    > * {
      flex-basis: 48px;
    }
  }

  .hero__input {
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  .hero__btn {
    width: 100%;
    max-width: 320px;
  }
}

@include less-sm {
  .hero__input {
    max-width: none;
  }

  .hero__btn {
    max-width: none;
  }
}

// Mixes

// Animation
