.input {
  width: 100%;
  max-width: 320px;
  padding: 12px 30px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 25px;

  &::placeholder {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
  }
}

// Media queries

@include less-xl {
}

@include less-lg {
}

@include less-md {
}

@include less-sm {
}

// Mixes

// Animation
